<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Options</title>
  <script src="../scripts/extend/options.js"></script>
</head>
<body>
  <h2>Options</h2>
  <p>List of URLs to filter
  <font color="gray">(One per line)</font> </p>
  <textarea id="urlList" rows="5" cols="30">
facebook.com
  </textarea>
<br><br
<p>Daytime intervals:
<font color="gray">(Example: 0930-1130, 1300-1600)</font> </p>
<textarea id="daytime" rows="1" cols="30">
0000-2359
</textarea>
  <div id="status"></div>
  <button id="save">Save</button>
</body>
</html>
