
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Options</title>
  <script src="../scripts/core/background.js"></script>
  <script src="../scripts/extend/options.js"></script>
</head>
<body>
  <h2>Options-debene</h2>
  <p>List of URLs to filter
  <font color="gray">(One per line)</font> </p>
  <textarea id="urlList" rows="5" cols="30">
facebook.com
  </textarea>
<br><br>
<p>Daytime intervals:
<font color="gray">(Example: 0930-1130, 1300-1600)</font> </p>
<textarea id="daytime" rows="1" cols="30">
0000-2359
</textarea>
  <div id="status"></div>
  <button id="save">Save</button>
</body>
</html>


<!--
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">


  <link rel="stylesheet" href="../third_party/bootstrap.min.css">
  <link rel="stylesheet" href="../third_party/font-awesome.min.css">
  <link rel="stylesheet" href="../third_party/fancygrid.min.css">
  <link rel="stylesheet" href="../third_party/tabdrop.css">

  <style>
    body{
      padding:20px;
    }
  </style>

</head>
<body>


<div class="container">heshsehe
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="#">General</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Social</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Social</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Social</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Social</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Social</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Social</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Social</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Social</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Social</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Social</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Social</a>
  </li>

</ul>

  <div id="list">


  </div>

</div>


<script src="../third_party/jquery.min.js"></script>
<script src="../third_party/tether.min.js"></script>
<script src="../third_party/bootstrap.min.js" ></script>
<script src="../third_party/bootstrap-tabdrop.js" ></script>
<script src="../third_party/fancygrid.min.js" ></script>
<script src="../third_party/lodash.min.js" ></script>
<script defer="defer"  src="../scripts/extend/options.js"></script>
<style>
  .action-column-remove {
    cursor: pointer;
    padding: 5px;
    position: relative;
    top: -5px;
    border-radius: 2px;
    background-color: #E4827D;
    color: #FFF;
  }

  .action-column-remove:hover {
    background-color: #F9DDE0;
  }
</style>
</body>
</html>
-->
